/*============ STANDARD FORMAT (NO DIVS) ===============*/

html{
    height  : 100%;                         /* also useful for when adding a background image */
    margin  : 0;
}

body{                                       /* all body content in all pages (not wrapped with/specified in divs) will have the following formating */
    font-family: 'Arial Narrow';
    margin     : 0;
    padding    : 0;
    height     : 100%;                      /* useful for when adding background images */
}

/*====== Header Logo ======*/

#header {
    position          : fixed;              /* header remains fixed despite scrolling */
    width             : 100%;               /* div fits full width of screen */
}

#header img {                                           /* # and not . because we gave the image a div ID and not a class */
    background-image : url("images/header_backgr.jpg"); /* give header a backgr image so that when you scroll, content does not appr above the header logo img */
    background-repeat: repeat-x;                        /* repeat backgr img along x-axis */
    width            : 100%;                            /* adj logo image width to fit 100% of the screen width */
    display          : block;                           /* to give the image a square dimension, which helps with positioning the img in the page */
    margin           : auto;                            /* "margin: auto" & "display: block" ensures the logo img is always aligned to the centre of the page */ 
}

/*============ HOME MENU CATEGORIES  ===============*/

/*====== Home Background ======*/

.home-body {                                                        /* div with "home" id */
    background-image     : url("images/chalk_4.jpg"); 
    background-repeat    : no-repeat;                               /* our background image does not repeat as we scroll */
    background-size      : cover;                                   /* removes the white space on either wide of our background image */    
    width                : 100%;
    height               : 100%;
    box-sizing           : border-box; 
    background-attachment: fixed;                                   /* ensures that image remains fixed i place even when scrolling down */
}

/*====== Home Content Below Header ======*/

#home {
    padding-top     : 210px;
    padding-bottom  : 30px;
    display         : block;
}

/*====== Home Menu Catgories ======*/

.home-menu-item {                           /* hyperlink with div class "home-menu-items */
    text-decoration: none;                  /* no underline beneath hyperlink */
    text-transform : lowercase;             /* makes hyperlink text written in caps, even though the text in our index.html is not written in caps */

    color          : white;
    font-size      : 25px;
    font-weight    : bold;
    text-align     : center;

    display        : block;                 /* ensures that border around the hyperlink is displayed as a block */
    margin-left    : 18%;                   /* margin around hyperlink text */
    margin-bottom  : 20px;                  /* creates a padding below other menu categories */
}

.home-menu-item img {
    display      : block;
    width        : 80%;
    margin       : auto;
    margin-bottom: 10px;
    border       : white 3px solid;
}

.home-menu-cat {                            /* hyperlink with the class "home-menu-cat" */
    display    : block;                     
    border     : 3px solid white;         /* add a white box around the menu categories text on the home page */
    width      : 80%;
    height     : 72px;                      /* height of border box */
    text-align : center;
    margin-left: 110px;                      /* amount of space next in the left margin of hyperlink textbox */
    margin-top : 50px;
}

/*====== Home Menu Icons ======*/

.home-menu-item i {
    padding-right: 5px;                     /* add some space between the icon and the hyperlink text */
}

/*============ MEALS MENU  ===============*/

/*====== Meal Items ======*/

.menu-item {                                /* hyperlink with class "menu-item" (contains the p & img of e. menu-item) */
    text-decoration: none;                  /* no underline beneath hyperlink */
    text-transform : lowercase;             /* makes hyperlink text written in caps, even though the text in our index.html is not written in caps */

    color          : white;
    font-size      : 25px;
    font-weight    : bold;
    text-align     : center;

    display        : block;                 /* ensures that border around the hyperlink is displayed as a block */
    margin-left    : 20px;                  /* margin around hyperlink text */
    margin-bottom  : 10px;                  /* creates a padding below other menu categories */
    width          : 80%;                   /* width of text-box (splits the page width between the three menu-items) */
    margin-top     : 70px;
}

.menu-item img {
    display      : block;
    width        : 90%;
    margin       : auto;
    margin-bottom: 10px;
    border       : white 3px solid;
    margin-left  : 60px;
}

.meals-menu-item {                          /* hyperlink with the class "home-menu-cat" */
    display    : block;                     
    border     : 3px solid white;           /* add a white box around the menu categories text on the home page */
    width      : 90%;
    height     : 72px;                      /* height of border box */
    text-align : center;
    margin-left: 60px;                      /* amount of space next in the left margin of hyperlink textbox */
}

.meals-menu-item i {
    color: white;
    z-index: 500;
}

/*====== Back To Main Menu  ======*/

.back-button i {                            /* style icon for our back-button */
    color        : white;
    font-size    : 25px;
    padding-top  : 10px;
    padding-left : 10px;
    padding-right: 10px;
}

.back-button a {                            /* style the hyperlink text next to the back-button icon */
    font-family    : 'Arial Narrow';
    color          : white;
    z-index        : 600;                   /* need to give your hyperlink a z-index, otherwise its essentially hidden behind your body, and thus unclickable because the body-layer is on top */
    font-size      : 20px;
    text-decoration: none;
    font-weight    : bold;
    text-transform : lowercase;
    padding-left   : 15px;
    position       : fixed;
}

.back-button a:hover {                      /* hyperlink appearance when cursor hovers over */
    text-decoration: underline;
    color          : white;
}

/*============ MENU ITEM  ===============*/

/*====== Item Description  ======*/

.item-descript {                            /* div for item description of each menu-item (e.g. butterchicken) */
    border       : white 2px;
    border-style : dotted;                  /* border style is dotted */
    width        : 80%;
    color        : white;
    font-family  : 'Ink Free';
    margin-left  : 57px;
    margin-top   : 60px;
    height       : 1562px;
}

.item-descript-details {
    padding-bottom: 10px;
}

.item-descript h1 {
    display      : inline-block;            /* to make "Price" and "Serving size" appr in the same line (used with inline css in the html where style = "float: right;" */
    font-weight  : bolder;
    font-style   : italic;
    padding-right: 40px;
    padding-left : 20px;
    font-size    : 32px;
    line-height  : 0.5;

}

.item-descript img {
    padding-left: 45px;
    padding-top : 10px;
}

.item-descript p {
    line-height  : 1.5;                       /* vertical line-spacing between text */
    padding-left : 25px;
    padding-right: 30px;
    padding-top  : 2px;
    font-size    : 25px;
    font-family  : 'Arial Narrow';
}

/*====== Extras Checkbox  ======*/

.extras {
    color              : black;
    padding-top        : 20px;
    background-image   : url("images/page.png");
    background-repeat  : no-repeat;
    background-size    : 90% 100%;
    padding-bottom     : 0px;
    background-position: center;
    padding-left       : 100px;
    margin-bottom      : 50px;
}

.extras h2 {
    font-weight   : bolder;
    font-size     : 35px;
    font-style    : italic;
    color         : black;
    padding-left  : 30px;
    margin-bottom : 25px;
    margin-top    : 2px;
}

.extras label {                         /* to style the checkbox labels in our ingredients div */
    line-height: 25px;                  /* the vertical spacing between each checkbox */
    margin-left: 10px;                  /* spacing between actual checkboxes and checkbox text */
    font-size  : x-large;
    font-weight: bold;
    cursor     : pointer;
    margin-bottom: 800px;
}

/*====== Contact Form Content ======*/

#contact_form {
    border      : white dotted 2px;
    width       : 86%;
    margin-top  : 20px;
    height      : 360px;
    margin-right: 5%;
    margin      : auto;
}

#contact_form h1{
    padding-left: 115px;
    margin-top: 15px;
}

textarea{                                   /* textarea of additional notes input box */
    width      : 90%;
    margin-left: 4%; 
    height     : 55%;   
    margin-bottom: 10px;
    font-size    : 25px;
    font-family: 'Ink Free'          
}

#contact_form input {                       /* "name" input box */
    width      : 90%;                       /* width of name input box */
    height     : 25px;                      
    margin-left: 17px;    
    margin-top : 2px;
    font-size  : 25px;
    font-family: 'Ink Free'
}

.button{                                    /* order button */
    display         : block;
    width           : 35%;
    background-color: black;
    text-decoration : none;
    text-align      : center;
    color           : white;
    font-size       : 16px;
    font-weight     : 600;
    margin          : 12px 0;
    padding         : 8px 0;                /* padding around "order" text */
    margin-left     : 32%;                  /* margin space to left of button */
    border          : ridge 3px;
}

#contact_form a {                           /* "order" button hyperlink */
    font-size     : 28px;
    font-family   :'Arial Narrow';
    letter-spacing: 3px;                    /* add some spacing in between each letter of the word "Order" */
}

/*============ MENU ITEM  ===============*/

/*====== Order Type: Collection/Delivery ======*/

.order-type { 
    border     : white dotted 2px;
    width      : 80%;
    margin     : auto;
    color      : white;
    font-family: 'Ink Free';
    text-align : center;
    font-size  : larger;
    margin-top : 70px;
}

.order-type-button{                        /* order button */
    display         : block;
    width           : 40%;
    background-color: black;
    text-decoration : none;
    text-align      : center;
    color           : white;
    font-size       : 30px;
    font-weight     : 600;
    margin          : 12px 0;
    padding         : 8px 0;               /* padding around "order" text */
    margin          : auto;                /* margin space on either side of buttons */
    border          : ridge 3px;
    font-family     : 'Arial Narrow';
}

.order-type a:hover { 
    text-decoration: underline;
    color          : white;
}

/*====== Collection/Thank You Page ======*/

#order-number {
    border     : ridge 3px;
    width      : 40%;
    height     : 70px;
    font-family: 'Arial Narrow';
    font-size  : xx-large;
    background : black;
    margin     : auto;
}

#order-number p {
    margin-top: 16px;
}

.collect-details p {
    font-size: larger;
}

.order-type p {
    font-size: larger;
}

/*====== Delivery Page ======*/

.deliv-form {
    border: dotted white 2px;
    width : 90%;
    margin: auto;
    height: 250px;
    padding-top: 28px;
    margin-bottom: 20px;
    font-family: 'Ink Free';
}

.deliv-form input {
    width        : 90%;
    margin       : auto;
    margin-bottom: 10px;
    height       : 20px;
    font-family  : 'Ink Free';
    font-size    : 25px;
}

.deliv-form textarea {                              /* address textbox */
    width        : 90%;
    margin       : auto; 
    height       : 40%;   
    margin-bottom: 5px;  
    font-family  : 'Ink Free';
    font-size    : 25px;
}       

/*====== Submit Delivery Details ======*/

.submit {                                           /* order button */
    display         : block;
    width           : 35%;
    height          : 25px;
    background-color: black;
    text-decoration : none;
    text-align      : center;
    color           : white;
    font-size       : 22px;
    font-weight     : 600;
    margin          : 12px 0;
    padding         : 8px 0;                        /* padding around "order" text */
    margin-left     : 32%;                          /* margin space to left of button */
    border          : ridge 3px;
    font-family     : 'Arial Narrow';
    letter-spacing  : 3px;
}

.submit a:hover {                           /* "submit" delivery details */
    text-decoration: underline;               
}



/*=========================================== RESPONSIVE LAYOUT ===================================================*/


/*======== SMALL CONTENT (600px) ========*/

@media only screen and (min-width: 600px) {           /* when viewer's screen has a width of 600px or less, change some of our style to adjust to that screen size (e.g. paragraphs, headings, etc) */
    
/*====== Back To Main Menu  ======*/

.back-button i {                            /* style icon for our back-button */
    font-size    : 18px;
    padding-top  : 1px;
}

.back-button a {                            /* style the hyperlink text next to the back-button icon */
    font-size      : 20px;
}

#header img {
    padding-top: 5px;                       /* add some space between header img and contact hyperlink */
}

/*====== Home Content Below Header ======*/

    #home {
        padding-top     : 80px;                       /* reduce the space below header and content */
    }

/*====== Home Menu Catgories ======*/
    
    .home-menu-item {                                   
        width: 90%;
        margin-left: 10%; 
    }

    .home-menu-item img {
        width        : 80%;
        margin-bottom: 10px;
        margin-left: 17px;
    }

    .home-menu-cat {              
        width      : 80%;
        height     : 72px;                      /* height of border box */
        margin-left: 17px;                      /* amount of space next in the left margin of hyperlink textbox */
        margin-top : 50px;
    }

    #header img {
        padding-top: 5px;                       /* add some space between header img and contact hyperlink */
    }

}

/*======== MEDIUM CONTENT (1000px) ========*/

@media only screen and (min-width: 1000px) {           /* when viewer's screen has a width of 600px, change some of our style to adjust to that screen size (e.g. paragraphs, headings, etc) */
    
/*====== Back To Main Menu  ======*/

.back-button i {                            /* style icon for our back-button */
    font-size    : 20px;
    padding-top  : 5px;
}

.back-button a {                            /* style the hyperlink text next to the back-button icon */
    font-size      : 25px;
}

#header img {
    padding-top: 0px;                       /* add some space between header img and contact hyperlink */
}

/*====== Home Content Below Header ======*/
    
    #home {
        padding-top     : 170px;                       /* reduce the space below header and content */
}
    
/*====== Home Menu Catgories ======*/
        
    .home-menu-item {                                   
        width: 90%;
        margin-left: 10%; 
        font-size  : 32px;
    }
    
    .home-menu-cat {              
        width      : 80%;
        margin-left: 22px;                      /* amount of space next in the left margin of hyperlink textbox */
        margin-top : 50px;
        height     : 92px;
    }
    
    .home-menu-item img {
        width        : 80%;
        margin-bottom: 10px;
        margin-left  : 22px;
    }

/*====== Meal Items ======*/

    .menu-item {                    
        font-size: 32px;
    }

    .menu-item img {
        margin-left: 110px;
    }

    .meals-menu-item {     
        height     : 102px;                      /* height of border box */
        margin-left: 110px;                      /* amount of space next in the left margin of hyperlink textbox */
    }

/*====== Item Description  ======*/

    .item-descript {                            /* div for item description of each menu-item (e.g. butterchicken) */
        width : 88%;
        height: 1892px;
    }

    .item-descript img {
        margin-left: 50px;
    }

    .item-descript h1 {
        padding-right: 110px;
        font-size    : 40px;
    }

    .item-descript p {
        font-size: 30px;
    }
    
/*====== Extras Checkbox ======*/

    .extras {
        padding-left: 300px;
    }

    .extras h2 {
        font-size     : 40px;
        padding-bottom: 15px;
        margin-left: 10px; 
    }

    .extras label {
        font-size: 32px;
    }

/*====== Contact Form ======*/

    #contact_form {
        padding-bottom: 38px;
    }

    #contact_form h1 {
        margin-left: 150px;
        padding-top: 25px;
    }

    #contact_form input {
        margin-left: 28px;
    }

/*====== Thank You: Collect/Deliver ======*/

    .order-type p {
        font-size: 32px;
    }    

    .order-type h1 {
        font-size: 40px;
    }

    .order-type h2 {
        font-size: 38px;
    }

    #order-number p{
        font-size: 45px;
        margin: auto;
        margin-top: 10px;
    }

/*====== Submit Delivery Details ======*/

    .submit {
        height : 52px;
        font-size: 32px;
        padding-bottom: 8px;
        padding-top: 14px;
    }

}

/*======== Large Content (1500px) ========*/

@media only screen and (min-width: 1500px) {           /* when viewer's screen has a width of 600px or less, change some of our style to adjust to that screen size (e.g. paragraphs, headings, etc) */
    
/*====== Back To Main Menu  ======*/
    
    .back-button i {                            /* style icon for our back-button */
        font-size    : 28px;
        padding-top  : 10px;
    }
    
    .back-button a {                            /* style the hyperlink text next to the back-button icon */
        font-size      : 26px;
    }
    
    #header img {
        padding-top: 0px;                       /* add some space between header img and contact hyperlink */
    }
    
/*====== Home Content Below Header ======*/
    
    #home {
        padding-top     : 250px;                       /* reduce the space below header and content */
    }
    
/*====== Home Menu Catgories ======*/
        
    .home-menu-item {                                   
        width      : 80%;
        margin-left: 16%; 
        font-size  : 36px;
        border     : 5px;
    }
       
    .home-menu-item img {
        width        : 80%;
        margin-bottom: 10px;
        margin-left: 17px;
    }
    
    .home-menu-cat {              
        width      : 80%;
        height     : 110px;                      /* height of border box */
        text-align : center;
        margin-left: 17px;                      /* amount of space next in the left margin of hyperlink textbox */
        margin-top : 50px;
        padding-top: 0px;
    }

/*====== Meal Items ======*/

    .meals-menu-item {     
        height     : 102px;                      /* height of border box */
        margin-left: 168px;                      /* amount of space next in the left margin of hyperlink textbox */
    }

    .menu-item img {
        margin-left: 165px;
    }

    .menu-item {                    
        font-size: 38px;
    }

/*====== Item Description  ======*/

    .item-descript {                            /* div for item description of each menu-item (e.g. butterchicken) */
        width : 80%;
        height: 2392px;
        margin-left: 150px;
    }

    .item-descript h1 {
        padding-right: 250px;
        font-size    : 50px;
        padding-left : 50px;
    }

    .item-descript p {
        font-size: 38px;
        padding-left: 50px;
    }

/*====== Extras Checkbox ======*/

    .extras {
        padding-left   : 400px;
        background-size: 70% 100%;
    }

    .extras h2 {
        font-size     : 50px;
        padding-bottom: 15px;
        margin-left   : 50px; 
    }

    .extras label {
        font-size: 42px;    
    }

/*====== Contact Form ======*/

    #contact_form {
        padding-bottom: 150px;
    }

    #contact_form h1 {
        margin-left: 280px;
        padding-top: 25px;
    }

    #contact_form input {
        margin-left: 40px;
        height     : 45px;
    }

/*====== Thank You: Collect/Deliver ======*/

    .order-type h1 {
        font-size: 50px;
    }

    .order-type h2 {
        font-size: 42px;
    }

    #order-number p{
        font-size: 48px;
        margin: auto;
        margin-top: 10px;
    }

    .order-type-button {
        height: 60px;
        font-size: 48px;
    }

/*====== Submit Delivery Details ======*/

    .submit {
        height : 62px;
        font-size: 45px;
        padding-bottom: 8px;
        padding-top: 14px;
    }

    .deliv-form input {
        height: 40px;
    }

    .deliv-form {
        height: 400px;
    }
    
}
    

    


